@charset "UTF-8";
@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

:root {
    --initial-clip-path: inset(10%);
}

@keyframes blinkAni {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../images/slideshow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide, .slide .img_wrap, .slide .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    &.current {
        opacity: 1;
        pointer-events: auto;
    }

    @for $i from 1 through 3 {
        &#{$i} {
            .img {
                background-image: url('./../images/img#{$i}.jpg');
            }
        }
    }

    &3 {
        .img_wrap {
            .img {
                background-position: left !important;
            }
        }
    }

    .img_wrap {
        overflow: hidden;
        will-change: transform;
        clip-path: var(--initial-clip-path);

        .img {
            position: relative;
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            will-change: transform;
            backface-visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    }

    .caption {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 80%;
        cursor: default;

        .inner {
            display: flex;
            align-items: center;
            gap: to_vw(20);
            padding: 0 var(--page-padding);

            * {
                color: white;
            }
        }

        .line {
            order: 2;
            flex: 1;             // 남은 공간 전부 차지
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
        }

        h2,a {
            font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        }

        h2 {
            order: 1;
            flex-shrink: 0;
            position: relative;
            white-space: nowrap;
            @include fontSize(16, 32);
            font-weight: 500;
        }

        a {
            order: 3;
            flex-shrink: 0;
            position: relative;
            text-align: right;
            @include fontSize(10, 20);
            line-height: 1;

            &:hover {
                text-decoration: underline;
                color: $pointColor;

                & ~.line {
                    opacity: 0 !important;
                }
            }
        }
    }
}

.slide_controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: fit-content;
    padding: 0 var(--page-padding);

    button {
        opacity: .5;
        color: $pointColor;

        &:hover {
            opacity: 1 !important;
            text-decoration: underline;
        }
    }
}

.slide_index {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--page-padding);
    color: $pointColor;

    span {
        margin: 0 4px;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        color: $pointColor;
    }
}


