@charset "UTF-8";
@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../images/slideshow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media(false, tablet) {
        overflow: auto;
    }
}

.slide, .slide .img_wrap, .slide .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media(false, tablet) {
        position: initial;
    }
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    &.current {
        opacity: 1;
        pointer-events: auto;
    }

    @for $i from 1 through 3 {
        &#{$i} {
            .img {
                background-image: url('./../images/img#{$i}.jpg');
            }
        }
    }

    &3 {
        .img_wrap {
            .img {
                background-position: left !important;
            }
        }
    }

    .img_wrap {
        overflow: hidden;
        will-change: transform;

        .img {
            position: relative;
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            will-change: transform;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
    }

    .caption {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 80%;
        cursor: default;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: to_vw(100);
            padding: 0 var(--page-padding);

            * {
                color: white;
            }
        }

        h2, a {
            font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        }

        h2 {
            white-space: nowrap;
            @include fontSize(16, 32);
            font-weight: 500;
        }

        a {
            flex-shrink: 0;
            position: relative;
            text-align: right;
            @include fontSize(10, 20);
            line-height: 1;

            &:hover {
                text-decoration: underline;
                color: $pointColor;
            }
        }
    }

    @include media(false, tablet) {
        position: relative;
        opacity: 1;
        pointer-events: all;

        .img_wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .img {
                background-position: 60% !important;
            }
        }

        .caption {
            width: 100%;

            .inner {
                flex-direction: column;
                justify-content: flex-end;
                height: 100vh;
                padding: var(--page-padding);
            }

            a {
                margin-left: auto;
                border: 1px solid #ffffff;
                padding: 2px 4px;
            }
        }
    }
}

.slide_controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: fit-content;
    padding: 0 var(--page-padding);

    button {
        opacity: .5;
        color: $pointColor;

        &:hover {
            opacity: 1 !important;
            text-decoration: underline;
        }
    }

    @include media(false, tablet) {
        display: none;
    }
}

.slide_index {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    padding: var(--page-padding);
    color: #ffffff;

    span {
        margin: 0 4px;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        color: #ffffff;

        &#slideIndexCurrent {
            color: $pointColor;
        }
    }

    @include media(false, tablet) {
        display: none;
    }
}


